.destockage-container {
  margin-top: 20px; /* Adjust the margin-top as needed */
}

.destockage-heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}


.image-containers {
  display: flex;
  gap: 35px; /* responsible for the gap bettwen each picture and her text*/

  justify-content: center;
  .destockage-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-top: 20px; /* Adjust the margin-top as needed */
  }

 

  .image-containers {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
  }

  img {
    max-width: 100px;
    height: auto;
    border: none;
        
    padding: 5px;
  }

  gap: 10px;
  overflow-x: auto;
}

img {
  max-width: 100px;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
}
.left-section {

  color: grey;
  padding: 10px;
  text-align: left;
}

/* Add styling for the right section */
.right-section {
  color: grey;
  padding: 4px;
  text-align: right;
  position: absolute; /* Position the container absolutely */
  top: 10%;
  right: 0;
 
}