/* FilterButton.css */
.filter-button-container {
  position: relative;
}

.filter-button {
    background-color: transparent; /* Remove background color */
    color: black; /* Set text color to black */
    border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 5px;
}

.filter-panel-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Disable interactions with the background */
  
}

.filter-panel {
  width: 750px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Apply gray overlay color here */
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Start off-screen */
}

.filter-panel.active {
  transform: translateX(0); /* Slide into view */
  background-color: white; /* Change background color when panel is active */
}
 .faq-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-button:hover {
    background-color: #666; /* Greydark color on hover */
    color: white;
  }

.show-filter-panel .filter-panel-container {
  opacity: 1;
  pointer-events: auto; /* Enable interactions with the background */
}
.filter-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .filter-option p {
    margin: 0;
    flex-grow: 1;
  }
  
  .filter-dropdown {
    cursor: pointer;
  }
  
  .filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .filter-option:hover .filter-dropdown-content {
    display: block;
  }
  
  .filter-dropdown-content p {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  
  .filter-dropdown-content p:last-child {
    border-bottom: none;
  }