.picture-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 30%;
  margin-right: 10px; /* Add margin between each guide */
}

.picture-container:last-child {
  margin-right: 0; /* Remove margin for the last guide */
}

.picture-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1; /* Keep overlay always visible */
  z-index: 1; /* Place overlay above image */
}

.text {
  font-size: 2rem;
  margin-bottom: 10px;
}

.button {
  background-color: #616669b7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.picture {
  max-width: 100%; /* Limit image width to container */
  max-height: 100%; /* Limit image height to container */
  display: block;
  transition: transform 2s;
}

.picture-container:hover .picture {
  transform: scale(1.1); /* Increase the scale value to make the picture bigger */
  filter: brightness(0.5); /* Set brightness on hover (grey) */
}
