.moving-text-navbar {
  background-color: white;
  color: rgb(235, 40, 72);
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold; /* Set font weight to bold */
  overflow: hidden;
}
.marquee-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 0.08s linear infinite; /* Adjust animation duration as needed */
  animation-delay: 1s; /* Delay before animation starts */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
