.title {
  flex-grow: 1;
  cursor: pointer;
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
}

.middle-section {
  display: flex;
  gap: 20px;
  flex-grow: 2;
  justify-content: center;
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
}

.nav-link {
  cursor: pointer;
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
  transition: color 0.3s; /* Add smooth transition for color change */
}

.nav-link-container {
  position: relative; /* Required for positioning the dropdown */
  display: inline-block; /* Display the link container inline */
}
.nav-link:hover {
  color:#c5205b; /* Change text color to pink on hover */
}
.dropdown {
  position: absolute;
  top: 100%; /* Position the dropdown below the link */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 2; /* Ensure the dropdown is above other content */
}

.dropdown-item {
  padding: 5px 10px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #f4f4f4;
  color: #c5205b;
}
.right-section {
  display: flex;
  gap: 10px;
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
}
/* ... (Your previous CSS code) ... */

.image-container {
  display: flex;
  justify-content: center; /* Horizontally centers the images */
  flex-wrap: wrap; /* Allows images to wrap if they don't fit in a single line */
  padding: 20px 0; /* Optional: Adds vertical padding around images for aesthetics */
}

/* Style for individual images */
.image-container img {
  max-width: 100%; /* Ensures the image doesn't overflow its container */
  height: auto; /* Maintains the image aspect ratio */
  margin: 40px; /* Adds distance around each image */
  border-radius: 5px; /* Optional: Rounds the corners for aesthetics */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for a raised effect */
}

.destockage-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Centers children horizontally */
}
